  body {
    background-color: #fdf9fd;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #ecf1f3;
    text-align: center;
    background-color: #064b09;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: calc(50vw - 50%);
  }
  
  .time {
    width: 60%;
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 0 16px 20px rgba(2, 73, 14, 0.5);
    background-color: #fff;
    padding: 20px;
  }
  
  #timer {
    color: #ff9901;
    font-size: 48px;
    font-weight: bold;
  }

  #timer2 {
    color: #ff9901;
    font-size: 48px;
    font-weight: bold;
  }
  
  button {
    width:100px; height:50px;
    font-weight: bold;
    font-size: 18px;
    color: #f8f6f6;
    background-color: #ff9901;
    border-radius: 4px;
    border: none;
    margin: 10px 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .Countbutton-container {
    display: flex;
    justify-content: center;
  }
  
  button:hover {
    background-color: #a7760c;
  }
  
  input[type="radio"] {
    margin: 12px;
  }

  .bar {
    text-align: center;
    font-weight: bold;
    color: #ecf1f3;
    background-color: #064b09;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
  }
  
  .radio-container {
    display: table;
    margin: 0 auto;
}

  .howto {
    display: table;
    margin: 0 auto;
}

  table{
    margin: auto; /* テーブルを中央揃えにする */
}

  td {
    text-align: left; /* テキストと音声を左寄せにする */
    vertical-align: middle; /* テキストと音声を縦方向に中央揃えにする */
}
